<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.3.0.3890" targetFramework="net472" />
  <package id="Emgu.CV.runtime.windows" version="4.3.0.3890" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="Grpc.Core" version="1.22.1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="1.22.1" targetFramework="net472" />
  <package id="Hyak.Common" version="1.2.2" targetFramework="net472" />
  <package id="Microsoft.Azure.Common" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.Azure.Management.DataFactories" version="4.13.3" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist" version="2.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>